{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore --ignore-path .prettierignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}
